/* debug */
/* * {
    border: 1px solid red;
} */

/* background colours */
html, body {
    background-color: rgb(13, 48, 37);
    height: 100%;
    color: antiquewhite;
    margin: 0%;
    /* padding: 0%;
    border-spacing: 0%;
    border: 0%; */
}

a {
    color: rgb(214, 170, 224);
    text-decoration:none;
}

/* website layout */

.parentDiv {
    /* holds all divs inside it */
    display: flex;
    flex-direction: row;
}
.spacer {
    flex: 1;
    /* flex-basis: 1000em; */
    flex-shrink: 1;
}
.mainTextContainer {
    flex: 3;
    flex-basis: 50em;
    flex-shrink: 0;
}

/* headers */

.pageHeader {
    display: flex;
    /* background-color: rgb(191, 239, 121); */
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 10px;
}
.Title {
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
}
h1 {
    /* flex: 1; */
    position: absolute;
    top: 100px;
    left: 0%;
    width: 100%;
}

h1 span {
    color: rgb(228, 175, 158);
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.8);
}

.titleImg {
    /* flex: auto; */
    height: 100%;
    max-width: 100%;
}
.headerSpacer {
    flex: 1;
}
.headerSpacer {
    flex: 2;
}

/* aboutme section */


.aboutSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: max-content;
}
.DecorativeElement {
    height: 5px;
    width: 100%;
    border-spacing: 5px;
    background-color: rgb(147, 22, 118);
}

.aboutImage {
    display: flex;
    flex: auto;
    flex-basis: 100%;
    /* background-color: lightgoldenrodyellow; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid rgb(220, 220, 146) 2px; */
    padding: 0px;
    height: 100%;
}
.profilePic {
    width: 500px;
}
.imageText {
    width: 500px;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
}

/* aboutmetext */

.aboutMe {
    flex: auto;
    flex-basis: 100%;
    display: flex;
    /* background-color: lightgoldenrodyellow; */
    flex-direction: column;
    align-items: center;
    /* border: solid rgb(220, 220, 146) 2px; */
    padding: 5px;
    padding-left: 10px;
    height: 100%;
}

.aboutMe p {
    text-align: left;
}

.aboutMeLinksContainer {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: left;
}
.linkAboutMe {
    flex: auto;
    height: 5px;
    /* width: 400px; */
}

/* projectlinks */

.ProjectsSection {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-spacing: 5px;
    padding-bottom: 20px;
    /* background-color: rgb(184, 230, 184); */
}
.ProjectsSectionTitle {
    text-align: center;
}

.projectLinksGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.projectDecorativeElement, .aProject {
    width: 80%;
}

.projectDecorativeElement {
    height: 5px;
    border-spacing: 5px;
    background-color: rgb(156, 121, 121);
}
.aProject {
    /* flex: 1; */
    display: flex;
    vertical-align: centre;
    justify-content: center;
    margin: 0.5em;
    height: 70px;
    text-align: center;
}
.projectEven {
    /* background-color: rgb(227, 173, 235); */
}
.projectOdd {
    /* background-color: rgb(220, 245, 245); */
}
.projectLink {
    flex: 1;
    border: solid rgb(100, 134, 103) 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: larger;
    color: rgb(234, 183, 208);
}
.projectLinkImg {
    box-sizing: border-box;
}
.projectLinkText {
    flex: 3;
    text-align: center;
}

/* footer */
.pageFooter {
    display: flex;
    /* background-color: rgb(244, 155, 155); */
    /* align-items: center; */
}
.paraFooter {
    flex: 1;
    text-align: center;
}
